*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    width: 90%;
    max-width: 1000px;
    margin:auto;
}

nav.navbar {
    background-color: black;
}

h5{
margin-bottom: 10px;
}


a{
    color:red;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
    color:red
  

}

a.nav-link{
    color:red;
    text-decoration: none;
}

a.nav-link:hover{
    color:red;
    text-decoration: underline;
}

body{
    margin:auto;
    width:90%;
    max-width: 1000px;
    background-color: black;
}
.navbar{
    background-color: white;
}

.card-title{
    color: black;
}
.btn-light{
    border-radius: 20px;
}

.card-body{
    height: 250px;
    min-width: 200px;
    background-color: black;
}
.card-title{
    color:aliceblue
}
.card-text{
    color:aliceblue;
}

a.btn{
    text-decoration: none;
}
div.carousel-caption{
padding-top: 15px;
padding-bottom: 5px;
}

div.catalogo{

margin:10px;

}
a.catalogo{
   padding:5px 60px ;
}

footer{
    margin-top: 20px;
    background-color: black;
    filter: opacity(0,6);
    margin-bottom: 20px;
    
}

a.dropdown-item{
    color: red;
}
a.dropdown-item:hover{
    color: red;
}

div.redes2{
   padding-bottom: 20px;

}

td{
    height: 104px;
}

.ficha {

    height: 60px;
    width: 120px;
}



